body{
    background-image: url(/images/background\ image.jpg/background-image);
    background-size: cover;
    background-repeat: no-repeat;
}

body{
    color: blue;
}
.test p{
    background-color: rgb(0,256,0);
}


